$primary-color: #000000;
$secondary-color: #515151;
$tertiary-color: #b1b1b1;
$bg-color: #fffaff;

body {
  background-color: $bg-color !important;
  font-family: "Roboto", sans-serif !important;
}
.navbar {
  --bs-navbar-color: white !important;
  --bs-navbar-brand-color: white !important;
  font-size: 1.2rem;
  .navbar-brand:hover {
    color: white !important;
  }
  .nav-link:hover {
    color: white !important;
    text-decoration: underline;
  }
}
.empty-space-40 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.icon-container {
  top: -20px;
  transform: translateX(-50%);
}

.description-text {
  font-size: 1.1rem;
  line-height: 1.6;
  color: $secondary-color;
  text-align: justify;
}
